[submodule "clone"]
	path = clone
	url = https://github.com/dmadole/MiniDOS-clone
[submodule "chdir"]
	path = chdir
	url = https://github.com/dmadole/MiniDOS-chdir
[submodule "reboot"]
	path = reboot
	url = https://github.com/dmadole/MiniDOS-reboot
[submodule "include"]
	path = include
	url = https://github.com/dmadole/MiniDOS-include
[submodule "chmod"]
	path = chmod
	url = https://github.com/dmadole/MiniDOS-chmod
[submodule "crc"]
	path = crc
	url = https://github.com/dmadole/MiniDOS-crc
[submodule "date"]
	path = date
	url = https://github.com/dmadole/MiniDOS-date
[submodule "free"]
	path = free
	url = https://github.com/dmadole/MiniDOS-free
[submodule "label"]
	path = label
	url = https://github.com/dmadole/MiniDOS-label
[submodule "dir"]
	path = dir
	url = https://github.com/dmadole/MiniDOS-dir
[submodule "copy"]
	path = copy
	url = https://github.com/dmadole/MiniDOS-copy
[submodule "del"]
	path = del
	url = https://github.com/dmadole/MiniDOS-del
[submodule "format"]
	path = format
	url = https://github.com/dmadole/MiniDOS-format
[submodule "sys"]
	path = sys
	url = https://github.com/dmadole/MiniDOS-sys
[submodule "trim"]
	path = trim
	url = https://github.com/dmadole/MiniDOS-trim
[submodule "mkdir"]
	path = mkdir
	url = https://github.com/dmadole/MiniDOS-mkdir
[submodule "rmdir"]
	path = rmdir
	url = https://github.com/dmadole/MiniDOS-rmdir
